@font-face {
  font-family: "catull";
  src: local("catull"), url(../public/fonts/catull.ttf);
}

* {
  font-family: catull;
  background-color: black;

}

@font-face {
  font-family: "blkcherry";
  src: local("blkcherry"), url(../public/fonts/blkcherry.ttf);
}

body,
html {
  padding: 0;
  margin: 0;
}