@tailwind base;
@tailwind components;
@tailwind utilities;

.Header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: black;
    @apply pt-4 flex flex-col justify-center text-center
}

.WebsiteName{
    color: white;
    @apply text-2xl font-bold
}