.RitualCards {
    background-image: url(../../../public/images/horoscope-diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    @apply  flex flex-col bg-no-repeat min-h-[70vh] justify-normal

}